.git
.gitignore
.idea

**/node_modules
**/dist
**/.npm-cache
**/.vite
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log

.env
infra/.env.prod
infra/.env.prod.example

front-end/tests
landing/dist
front-end/dist
